{% extends 'todo/base.html' %}

{% block content %}
    <h2>Add New Todo</h2>
    <form method="post" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="mb-3">
            {{ form.due_at.label_tag }}
            {{ form.due_at }}
        </div>
        <div class="mb-3">
            {{ form.photo.label_tag }}
            {{ form.photo }}
        </div>
        <button type="submit" class="btn btn-success">Save Todo</button>
    </form>
{% endblock %}
